*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.6) url('home.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.container{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.navbar ul li a{
    padding: 9px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

.navbar ul li a:hover{
    background-color: orangered;
}
.title{
    min-height: 100vh;
    width: 100%;
   
}
.items-content{
    padding: 5% 8%;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-size: 5rem;
    letter-spacing: 4px;
    position: relative;
}

h1::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: blue;
}
.card-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 80px;
}

.card{
    height: 330px;
    width: 370px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid rgba(114, 228, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: white;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card:hover:after{
    width: 225%;
    top: -100%;
}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: skyblue;
}
.card i {
    color: blue;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(225, 225, 225, 066);
}
.card:hover i{
    color: skyblue;
}
/* bagian responsif dibawah ini */
@media screen and (max-width:120px){
    .card-content{
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px){
    .card-content{
        grid-template-rows: repeat(1, 1fr);
    }
    h1{
        font-size: 3.5rem;
    }
}
